<div class="span9">
	<h2><%= @feira.nome %></h2>
	<ul id='dados-da-feira'>
		<li><span>Endereço:</span> <%= @feira.endereco %></li>
		<li><span>Bairro:</span> <%= @feira.bairro %></li>
		<li><span>Metragem:</span> <%= @feira.metragem %></li>
		<li><span>Feirantes:</span> <%= @feira.barracas %></li>
	</ul>
</div>
